<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DNSimple DigitalOcean Connector</title>
    <link rel="stylesheet" href="https://make-it-nice.dnsimple.com/css/dnsimple-tachyons-1.0.0.min.css">
  </head>

  <body class="dn-body">
    <header class="dn-navbar pa3 mb4">
      <div class="dn-navbar-branding">
        <a class="dib v-mid link black" href="<%= connection_path(@conn, :index) %>">
          Digital Ocean Connector
        </a>
      </div>
      <div class="dn-navbar-nav">
        <%= if @conn.assigns[:current_account] do %>
          <%= link("Log out", to: page_path(@conn, :logout), method: :post, class: "dib v-mid link black") %>
        <% end %>
      </div>
    </header>
    <div class="container min-vh-100">
      <%= if get_flash(@conn, :info) do %>
        <p class="dn-alert dn-alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
        <p class="dn-alert dn-alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <footer class="dn-footer container">
      <span class="dib v-mid">Digital Ocean Connector</span>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
