<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DNSimple DigitalOcean Connector</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="dn-navbar container mb4">
      <div class="dn-navbar-branding">
        <a class="dib v-mid link black" href="<%= page_path(@conn, :index) %>">
          Digital Ocean Connector
        </a>
      </div>
    </header>
    <div class="container min-vh-100">
      <%= if get_flash(@conn, :info) do %>
        <p class="dn-alert dn-alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
        <p class="dn-alert dn-alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <footer class="dn-footer container">
      <span class="dib v-mid">Digital Ocean Connector</span>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
