<h2>Edit connection</h2>

<%= render "form.html", changeset: @changeset, domains: @domains, droplets: @droplets,
                        action: connection_path(@conn, :update, @connection) %>

<%= link "Back", to: connection_path(@conn, :index) %>
