<div class="mw7 mb4 center">
  <h2>New Connection</h2>
  <p class="gray">Select the Digital Ocean droplet and domain name you'd like it to be connected with.</p>
</div>

<%= render "form.html", changeset: @changeset,
                        conn: @conn,
                        action: connection_path(@conn, :create),
                        domains: @domains, droplets: @droplets %>

<%= link "Back", to: connection_path(@conn, :index) %>
