.dn-alert {
  padding: $spacing-medium 0;
  margin: 0 0 $spacing-large 0;
  text-align: center;
  border-radius: 4px;
}

.dn-alert-info {
  background: $light-blue;
  &:before {
    content: url("/images/info.svg");
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
  }
}

.dn-alert-danger {
  background: $light-red;
  color: $white;
  &:before {
    content: url("/images/error.svg");
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
  }
}

