.dn-navbar {
  display: table;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background: $white;
  border-bottom: 1px solid $light-gray;
}

.dn-navbar-branding {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

.dn-navbar-nav {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  text-align: right;
}
