.dn-record-ALIAS {
  background: $gold;
  color: $black;
}

.dn-record-A, .dn-record-AAAA {
  background: $red;
  color: $white;
}

.dn-record-CNAME {
  background: $green;
  color: $white;
}

.dn-record-TXT {
  background: $navy;
  color: $white;
}

.dn-record-SOA {
  background: $light-blue;
  color: $black;
}

.dn-record-NS {
  background: $light-purple;
  color: $white;
}

.dn-record-URL {
  background: $light-green;
  color: $black;
}
